/* Main Body */
.intro,
.info {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.info {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem;
}

.media-card {
  /* border: 1px solid var(--bs-gray-300); */
  background-color: white;
}

.media-card img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  display:block;
}

.media-card h2,
.media-card p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.media-card p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.media-card a {
  text-decoration: none;
}